@{
    ViewBag.Title = "Password Reset Link Sent!";
}

<main aria-labelledby="title" class="text-center">
    <div>
        <p class="h2">
            Please check your email to reset your password.
        </p>
    </div>
</main>
