@model IEnumerable<DataObjects.Artist>

@{
    ViewBag.Title = "Artists";
}

<div class="row mx-5 row-cols- lg-10">
    @foreach (var item in Model)
    {
        <div id="library-cards-container" class="col my-4 mx-5 inline w-auto">
            <div id="image-container" class="image-container">
                <a href="@Url.Action("Details", "Artist", new { id = item.ArtistID })">
                    <img class="artist-img" src="~/MuseConfig/ProfileImages/@item.ImageFilePath" alt="Photo of @item.ArtistID" />
                </a>
                <p class="mt-4 text-center">@item.ArtistID</p>
            </div>
        </div>
    }
</div>
 