html {
    height: auto;
}

body {
    height: 100%;
    background-image: url('../images/bigvec.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(.4em);
    background-attachment: fixed;
    font-family: Arial;
    font-weight: Bold;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.bg-purple {
    background-color: rgba(120, 107, 176, 1)
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#Layer_1 {
    width: 100px;
    height: 100px;
    margin-right: 6rem;
}

.bg-wavy {
    background-image: url('../images/bigvec.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(.4em);
}

/* Navbar */

#nav-muse-logo {
    width: 15%;
    height: auto;
}

.album-art-img {
    width: 100px;
    height: 100px;
}

.explicit {
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

/* Slider */

.slidercontainer {
    width: auto;
}

.slider {
    -webkit-appearance: none;
    background-color: rgba(120, 107, 176, 1);
    width: 100%;
    height: 10px;
    margin-bottom: 3em;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 8px;
    background: url('../images/becausetheinternet.jpg') center/100% 100%;
    object-fit: cover;
    cursor: pointer;
}

.bg-purple-radial-background {
    background: radial-gradient(circle, rgba(46,34,76,1) 0%, rgba(38,37,37,.9) 100%);
}

.button {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#account-img-container {
    margin-right: 1em;
    width: 70%;
    height: auto;
}

#account-img {
    width: 70px;
    height: 70px;
    border-radius: 13px;
}

/* Library Page */

#list-view-img-container
{
    width: 70px;
    height: 70px;
}

#list-view-img-container img
{
    border: none;
    width: 70px;
    height: 70px;
}

.list-view-library-play-button {
    width: 40px !important;
    height: 40px !important;
    margin-left: -55px !important;
    margin-top: 15px !important;
}

.list-album-img {
    width: 70px !important;
    height: 70px !important;
    border: none !important;
}

#library-play-img {
    width: auto !important;
    margin-bottom: 5px !important;
    margin-top: -19px !important;
    margin-left: -8px !important;
    height: 20px !important;
}

audio {
    padding: 10px;
    margin-left: 0px;
    border-radius: 5px;
    display: none;
}

.hr-underline {
    border: 1px solid;
    border-width: 3px 0;
}

#library-cards-container {
    display: flex;
    align-items: center;
    padding-left: 0px !important;
}

.album-img {
    border-radius: 8px;
    border: 5px solid white;
    width: 200px;
    height: 200px;
    -webkit-user-drag: none;
}

.album-img:hover {
    opacity: 0.5;
    background-color: white;
}

.album-img:Hover {
    cursor: pointer;
    opacity: .8
}

#album-img-edit {
    border-radius: 10px;
    border: none;
    width: 400px;
    height: 400px;
    -webkit-user-drag: none;
}

.library-play-button:Hover {
    cursor: pointer;
    opacity: .5
}

#library-play-button {
    position: fixed;
    margin-left: -9rem;
    margin-top: 3.5rem;
    border-radius: 50px;
    padding: 20px;
    background-color: black;
    border: 1px solid black;
}

#library-play-button img
{
    width: 50px;
    height: 50px;
}

.song-info-div 
{
    width: 300px;
}

.song-info-div div {
    white-space: nowrap !important;
    font-size: 30px;
}

.song-form-edit{
    margin-top: -31px;
}

/* Song Edit */

#lyrics {
    background-color: transparent;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    height: 600px;
    padding-left: 30px;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar:hover {
    cursor: crosshair;
}

::-webkit-scrollbar-thumb {
    background-color: mediumpurple;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Login Page */
#login-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 50px 50px 10px 50px;
    border-radius: 13px;
    max-width: fit-content;
    margin: 50px auto;
    width: 800px;
    position: relative;
    backdrop-filter: blur(1em);
}

#login-muse-logo {
    z-index: 1;
    left: -80px;
    top: -30px;
    position: absolute;
    width: 600px;
    height: auto;
}

.form-container {
    margin: 200px 50px 0px 50px;
}

.form-email-password-input {
    font-size: 20px;
}

.invalid {
    color: rgba(210, 52, 52, 1);
    font-size: 14px;
}

.input {
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

#submit {
    padding: 15px 60px 15px 60px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    padding-left: 43%;
    padding-right: 43%;
}

.footer-buttons-container {
    text-align: center;
}

.footer-buttons {
    background: none;
    font-size: 17px;
    border: none;
}

/* Playlist */

.playlist-table-border {
    border-top: 3px solid white !important;
}