@model IEnumerable<DataObjects.UserFriend>

@{
    ViewBag.Title = "ViewUpgradePlans";
    ViewBag.Hero = "Upgrade Account";
}

<div class="d-flex">

</div>
<br />
<div>
    What you get if you are a subscriber:
    <br />
    <br />
    Search button functionality
    <br />
    Sort features
    <br />
    ability to go public
    <br />
    adding friends
    <br />
    more than 30 songs added a day
    <br />
</div>
