@model IEnumerable<DataObjects.UserFriend>

@{
    ViewBag.Title = "ViewUpgradePlans";
    ViewBag.Hero = "Upgrade Account";
}
<div class="d-flex br-10 p-5 fs-5 form-backdrop justify-content-between">
    <div>
        What you get if you are a subscriber:
        <br />
        <br />
        Search button functionality
        <br />
        Sort features
        <br />
        ability to go public
        <br />
        adding friends
        <br />
        more than 30 songs added a day
        <br />`
        $3 a month
    </div>
    <div>
        What you get if you are a subscriber:
        <br />
        <br />
        Search button functionality
        <br />
        Sort features
        <br />
        ability to go public
        <br />
        adding friends
        <br />
        more than 30 songs added a day
        <br />
        $5 a month
    </div>
</div>

