@model IEnumerable<DataObjects.UserFriend>

@{
    ViewBag.Title = "ViewUpgradePlans";
    ViewBag.Hero = "Upgrade Account";
}

<div class="d-flex br-10 p-5 fs-5 form-backdrop justify-content-between gap-5">
    <div class="bg-dark upgradeOptions p-4 grow">
        <h1>Free</h1>
        <ul class="text-nowrap mt-5 upgradeOptionsList">
            <li>Create and listen to songs</li>
            <li>Create playlists</li>
            <li>Create albums</li>
        </ul>
    </div>
    <div class="bg-dark upgradeOptions p-4 grow">
        <h1>Starter</h1>
        <h2 class="my-1">$3 monthly</h2>
        <ul class="text-nowrap upgradeOptionsList">
            <li>Everything included from free tier</li>
            <li>Search button functionality</li>
            <li>Sort features</li>
            <li>Review songs</li>
        </ul>
    </div>
    <div class="bg-dark upgradeOptions p-4 grow">
        <h1>Pro</h1>
        <h2 class="my-1">$5 monthly</h2>
        <ul class="text-nowrap upgradeOptionsList">
            <li>Everything included from free tier</li>
            <li>Everything included from Starter tier</li>
            <li>Add Friends</li>
        </ul>
    </div>
</div>

