
@{
    ViewBag.Title = "Login";
}

<div id="login-container">
    <img id="login-muse-logo" src="~/Images/museV3Logo.png" alt="Muse Logo" />
    <form id="form-login" class="form" action="">
        <label id="invalid-email" class="invalid" for="invEmail">Invalid Email</label><br>
        <input class="input textbox" type="text" id="email" name="Email" placeholder="Email"><br>
        <label id="invalid-password" class="invalid" for="invPassword">Invalid Password</label><br>
        <input class="input password" type="password" id="passsword" name="password" placeholder="Password"><br>
        <input id="submit" class="button" type="submit" value="Log in">
    </form>
    <div class="footer-buttons-container">
        <button class="footer-buttons">Sign Up</button>
        <button class="footer-buttons">Forgot Password</button>
    </div>
    <br>
    <br>
</div>

